.idea/
*.pyc
*.pyo

# rst is generated for PyPi with pandoc --from=markdown --to=rst --output=README.rst README.md
README.rst

build/
clanvas.egg-info/
dist/

# Workaround to debug as a module in IntelliJ
clanvas/runner.py
